<div>
    <div class='fixed-caption-block' ng-if="headers.fixed_tab">
        <fieldset>
            <legend>
                <strong>Informações Principais</strong>
            </legend>
            <ng-include ng-if="beforeForm != undefined" src="beforeForm"></ng-include>
            
            <ng-include src="'lets/views/crud/crud-form-input.html'" ng-init="auto_layout=headers.auto_layout; fields=headers.fields; filter={tab: 'fixed', editable: true}"></ng-include>

            <ng-include ng-if="afterForm != undefined" src="afterForm"></ng-include>
        </fieldset>
    </div>
    
    <tabset class='tab-group' ng-class="{'hide-nav': (_.size(headers.tabs) == 0 && _.size(headers.main_tabs) == 0 && _.size(headers.tabs_session) == 0)}">
        
        <tab ng-if="headers.main_tabs == undefined" heading="{{headers.label_row}}">
            <fieldset>
                <legend>
                    <strong>Informações Principais</strong>
                </legend>
                <ng-include ng-if="beforeForm != undefined" src="beforeForm"></ng-include>
                
                <ng-include src="'lets/views/crud/crud-form-input.html'" ng-init="auto_layout=headers.auto_layout; fields=headers.fields; filter={editable: true}"></ng-include>
                
                <ng-include ng-if="afterForm != undefined" src="afterForm"></ng-include>
            </fieldset>
        </tab>

        <tab ng-if="headers.main_tabs != undefined" ng-repeat="tab in headers.main_tabs" heading="{{tab}}">
            <fieldset>
               <ng-include src="'lets/views/crud/crud-form-input.html'" ng-init="auto_layout=headers.auto_layout; fields=headers.fields; filter={tab: $index, editable: true}"></ng-include>
            </fieldset>
        </tab>

        <tab ng-if="!detail.hide" ng-repeat="(detail_key, detail) in headers.tabs_session" heading="{{detail.label}}">
            <fieldset>
                <ng-include src="'lets/views/crud/crud-detail-list.html'"></ng-include>
                <div class="pull-right">
                    <button type="button" class="btn btn-primary button-new" origin="tabs_session" detail="{{detail_key}}" form-modal="{{detail.modal ? true : false}}">
                        <span class="icon fa fa-plus"></span>Novo Registro
                    </button>
                </div>
            </fieldset>
        </tab>

        <tab ng-if="data.id != null && !tab.hide" ng-repeat="(tab_name, tab) in headers.tabs" heading="{{tab.label}}">
            <div ng-if="tab.fields && !tab.templateUrl">
                <div class="row">
                    <div class="pull-right">
                        <a class="btn btn-primary btn-block btn-new" ng-click="newDetail(tab, data)">
                            <span class="fa fa-plus"></span> Novo Registro</a>
                    </div>
                </div>
                <section class="widget" crud-list crud-list-settings="{url: headers.route + '/details/' + data.id + '/' + tab_name, fields: tab.fields, tab: true, settings: headers.settings, filterScope: tab.filterScope, sort:tab.sort}">
                    <div class="widget-body">
                        <div class="table-container" tab-config="{{tab}}"></div>
                    </div>
                </section>
            </div>
            <div ng-if="tab.templateUrl">
                <ng-include src="tab.templateUrl"></ng-include>
            </div>
        </tab>

    </tabset>
    <div class="form-actions">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-7">
                <button ng-if="!headers.disabled" type="submit" class="btn btn-big btn-primary">
                    <span class="icon fa fa-floppy-o"></span>Salvar</button>
                <button type="button" class="btn btn-big btn-inverse" ng-click="cancel()">
                    <span class="icon fa fa-undo"></span>Cancelar</button>
            </div>
        </div>
    </div>
</div>
