<div class="filtros">
    <form ng-submit="filterData(true)">
        <div class="busca row" ng-if="!hideInputSearch">
            <div class="form-group col-sm-6" style="margin: 10px 0;">
                <div class="fw-input-group input-group">
                    <input autocomplete="off" type="text" class="form-control" name="q" ng-model="data['q']" ng-disabled="showBuscaAvancada" placeholder="Buscar por..."/>
                    <button type="submit" class="btn btn-primary" ng-disabled="showBuscaAvancada" ><span class="icon fa fa-search"></span>Buscar</button>
                    <span style="margin-left: 20px;" class="input-group-btn" ng-if="fieldsFilter.length > 0">
                        <button type="button" class="btn btn-default" title="Busca Avançada" ng-click="openBuscaAvancada()">
                            <i class="glyphicon" ng-class="{'glyphicon-plus': !showBuscaAvancada, 'glyphicon-minus': showBuscaAvancada}"></i>
                            Filtros de busca
                        </button>
                    </span>
                    <span ng-if="clearButton && fieldsFilter.length > 0" class="input-group-btn">
                        <button type="button" class="btn btn-default" title="Limpar filtro" ng-click="clearBusca()">
                            <i class="glyphicon glyphicon-erase"></i>
                            <span class="hidden-xs">Limpar Filtro</span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        
        <div class="busca-avancada row" collapse="!showBuscaAvancada">
            <div class="form-group" style="margin-bottom: 10px; margin-right: 0px; min-width: 200px;" ng-repeat="field in fieldsFilter track by $index" ng-class="field.filter.range===true ? 'col-sm-2' : 'col-sm-3'">
                <label for="{{field.name}}" class="control-label" style="font-size:12px; margin-bottom: 0px;font-weight: 600">{{field.label}}</label>
                <fw-input fw-data="data"></fw-input>
            </div>
            <div class="form-group col-sm-2">
                <label class="control-label" style="font-size:12px; margin-bottom: 0px;">&nbsp;</label>
                <div>
                    <button type="submit" class="btn btn-primary"><span class="icon fa fa-search"></span>Buscar</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>