<div class="row">
    <crud-breadcrumb></crud-breadcrumb>
      <div class="col-sm-3 col-lg-2 text-right" ng-if="headers.settings.add" style="margin-bottom: 10px;">
          <a class="btn btn-primary btn-block btn-new" ng-click="goNew()"><span class="icon fa fa-plus"></span> Novo Registro</a>
      </div>
</div>
<section class="widget" crud-list crud-list-settings="{url: headers.route, fields: headers.fields, tab: false, settings: headers.settings}">
    <header class='crud-list-header row hidden-xs' style='display: flex;'>
        <h4>{{headers.label}}</h4>
    </header>

    <div crud-filter fields="headers.fields" route="headers.route"></div>
   
    <div class="widget-body">
        <div class="table-container"></div>
    </div>
</section>
