<div class="row">
    <crud-breadcrumb></crud-breadcrumb>
  </div>
  
  <section class="widget">
    <div class="widget-body">
  
      <form class="form-horizontal" role="form" ng-submit="submit(this)" crud-form name="crudForm" headers="{{headers}}" novalidate autocomplete="off">
        <ng-include src="'lets/views/crud/crud-form.html'"></ng-include>
  

      </form>
    </div>
  </section>
</div>