<div class="input-container" data-name="{{field.name}}">
  <!-- Currency -->
  <div ng-if="field.type == 'float' && field.customOptions.currency">
    <div class="fw-input-group">
      <span ng-if="field.customOptions.currency != undefined " class="input-group-addon">R$</span>
      <input step="0.5" data-parsley-pattern="^\d{1,3}(?:\.\d{3})*,\d{2}$" lang="pt-BR" ng-model-options="{fieldInfo: field}"
        type="text" id="{{field.name}}" string-to-number fw-dynamic ng-required="field.notnull" ng-model="data[field.name]"
        size="{{field.length}}" ng-disabled="field.disabled" class="main-input form-control" autocomplete="off" />
    </div>
  </div>

  <!-- Float -->
  <div ng-if="field.type == 'float' && !field.customOptions.currency">
    <input step="0.5" data-parsley-type="number" lang="pt-BR" ng-model-options="{fieldInfo: field}" type="text" id="{{field.name}}"
      string-to-number fw-dynamic ng-required="field.notnull" ng-model="data[field.name]" size="{{field.length}}"
      ng-disabled="field.disabled" class="main-input form-control" autocomplete="off" min="{{field.customOptions.min}}" />
  </div>

  <!-- Number or Integer -->
  <div ng-if="(field.type == 'number' || field.type == 'integer' || field.type == 'bigint') && !field.autocomplete && !field.customOptions.range">
    <input ng-model-options="{fieldInfo: field}" type="text" id="{{field.name}}" string-to-number numbers-only
      fw-dynamic ng-required="field.notnull" ng-model="data[field.name]" size="{{field.length}}" ng-disabled="field.disabled"
      class="main-input form-control" autocomplete="off" />
  </div>

  <!-- Number or Integer with range-->
  <div ng-if="(field.type == 'number' || field.type == 'integer' || field.type == 'bigint') && !field.autocomplete && field.customOptions.range">
    <input ng-model-options="{fieldInfo: field}" type="number" id="{{field.name}}" ng-required="{{field.notnull}}"
      ng-model="data[field.name]" ng-disabled="field.disabled" class="main-input form-control" autocomplete="off" min="{{field.customOptions.range.min}}"
      max="{{field.customOptions.range.max}}" />
  </div>

  <!-- Email -->
  <div ng-if="field.type == 'string' && field.customOptions.email">
    <input ng-model-options="{fieldInfo: field}" type="email" id="{{field.name}}" string-to-number fw-dynamic
      ng-required="field.notnull" ng-model="data[field.name]" ng-disabled="field.disabled" class="main-input form-control"
      autocomplete="off" />
  </div>

  <!-- cnpj -->
  <div ng-if="field.type == 'string' && field.customOptions.cnpj">
    <input string-to-number ng-model-options="{fieldInfo: field}" name="{{field.name}}" type="text" id="{{field.name}}"
      fw-dynamic ng-required="field.notnull" ng-model="data[field.name]" size="{{field.length}}" ng-disabled="field.disabled"
      class="main-input form-control" autocomplete="off" />
  </div>



  <!-- String -->
  <div ng-if="field.type == 'string' && (!field.customOptions.file && !field.customOptions.email && !field.autocomplete && !field.customOptions.cnpj)">

    <input ng-model-options="{fieldInfo: field}" name="{{field.name}}" type="text" id="{{field.name}}" fw-dynamic
      ng-required="field.notnull" ng-model="data[field.name]" size="{{field.length}}" ng-disabled="field.disabled"
      class="main-input form-control" autocomplete="off" />
  </div>


  <!-- Simplecolor -->
  <div ng-if="field.type == 'simplecolor'">
    <input ng-model-options="{fieldInfo: field}" color-picker color-me="true" name="{{field.name}}" type="text" id="{{field.name}}"
      set-colors="{{field.customOptions.colors}}" fw-dynamic ng-required="field.notnull" ng-model="data[field.name]"
      size="{{field.length}}" ng-disabled="field.disabled" class="main-input form-control" autocomplete="off" />
  </div>

  <!-- Tags -->
  <div ng-if="field.type == 'tags'">
    <fw-tags ng-model-options="{fieldInfo: field}" fw-tags tags="data[field.name]" name="{{field.name}}"></fw-tags>
  </div>

  <!-- Password -->
  <div ng-if="field.type == 'password'">
    <input ng-model-options="{fieldInfo: field}" type="password" id="{{field.name}}" fw-dynamic ng-required="field.notnull"
      ng-model="data[field.name]" ng-disabled="field.disabled" class="main-input form-control" autocomplete="off" />
  </div>


  <!-- Custom -->
  <div ng-if="field.type == 'custom'">
    <div ng-bind-html="fieldHtml()"></div>
  </div>

  <!-- Date -->
  <div ng-if="field.type == 'date'">
    <input ng-model-options="{fieldInfo: field, allowInvalid: true}" type="text" fw-date-picker="true" fw-dynamic
      ng-required="field.notnull" id="{{field.name}}" name="{{field.name}}" ng-model="$parent.data[field.name]" class="form-control"
      data-date-format="DD/MM/YYYY" placeholder="DD/MM/YYYY" ng-disabled="field.disabled" autocomplete="off" />

    <ul class="parsley-errors-list filled" ng-if="field.error">
      <li class="parsley-required">A data informada é inválida.</li>
    </ul>
  </div>

  <!-- Time -->
  <div ng-if="field.type == 'time'">
    <timepicker ng-model="$parent.data[field.name]" ng-disabled="field.disabled" hour-step="field.customoptions.timepicker.hstep || 1"
      minute-step="field.customoptions.timepicker.mstep || 1" show-meridian="field.customoptions.timepicker.meridian"></timepicker>

    <ul class="parsley-errors-list filled" ng-if="field.error">
      <li class="parsley-required">O horário informado é inválido.</li>
    </ul>
  </div>

  <!-- Upload -->
  <div ng-if="field.type == 'string' && field.customOptions.file && !field.customOptions.dad">
    <div fw-upload class="fw-input-group">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{f.progress || defaultProgress}}" aria-valuemin="0"
          aria-valuemax="100" style="text-align: left; min-width: 2em;" ng-style="{'width': '{{f.progress || defaultProgress}}%'}"
          ng-if="(f.progress != undefined && f.progress != 0) || defaultProgress != 0">
          <span ng-if="f.progress != undefined && f.progress != 0">
            {{f.progress + '%'}}
            <span style="display: inline-block; width: 89%;" ng-if="f.progress == 100 && !f.newName">{{f.name}}</span>
            <span style="display: inline-block; width: 89%;" ng-if="f.progress == 100 && f.newName">{{f.newName}}</span>
          </span>
          <span ng-if="f == undefined || f.progress == undefined" ng-bind="$parent.data[field.name]"></span>
        </div>

      </div>
      <input ng-model-options="{fieldInfo: field}" type="hidden" class="form-control" name="temp_filename" ng-model="$parent.data[field.name]"
        id="{{field.name}}" ng-required="field.notnull" autocomplete="off" />
      <span class="input-group-btn">
        <button ng-if="alreadySent == false || field.customOptions.only_upload == true" type="file" ngf-select="upload($file, $invalidFiles)"
          class="btn btn-default btn-upload">
          <i class="glyphicon glyphicon-upload"></i>
        </button>
        <button ng-if="alreadySent == true && (field.customOptions.only_upload != true)" ng-click="download(field, data.id)"
          type="button" class="btn btn-default">
          <i class="glyphicon glyphicon-download"></i>
        </button>
      </span>
    </div>
  </div>

  <!-- Drag and Drop -->
  <div ng-if="field.type == 'string' && field.customOptions.file && field.customOptions.dad">
    <div fw-upload class="fw-input-group">
      <input ng-model-options="{fieldInfo: field}" type="hidden" class="form-control" name="temp_filename" ng-model="$parent.data[field.name]"
        id="{{field.name}}" ng-required="field.notnull" autocomplete="off" value="fileName" />
      <div>
        <p class="file-preview" ng-if="alreadySent == true" style="margin-right: 2rem; text-align:center;">
          <i class="fa fa-file-o" aria-hidden="true" style="font-size: 3.333333em;line-height: 1.75em;"></i>
          <a class="dz-open" ng-click="download(field, data.id)">{{fileName}}</a>
          <div ng-if="alreadySent == true" style="display: flex; align-items: center; justify-content: center">
            <a class="btn-primary" ng-click="open($parent.data[field.name],field)" data-dz-download style="border: none; padding: 5px 10px; margin-right: 5px;">Abrir
              Arquivo</a>
            <a class="btn-primary dz-remove" ng-if="field.customOptions.deletePermission == true || field.customOptions.deletePermission == undefined "
              ng-click="remove(fileName)" style="background-color: #cc3300;border: none;
          padding: 5px 10px;  margin-left: 5px;"
              data-dz-remove>Remover
              Arquivo</a>
          </div>
        </p>
      </div>
      <div ng-required="field.notnull" ng-if="!alreadySent" class="dropzone" options="dzOptions" callbacks="pushName()"
        methods="dzMethods" ng-dropzone></div>
    </div>
  </div>

  <!-- Textarea -->
  <div ng-if="field.type == 'text' && !field.customOptions.rich">
    <textarea ng-model-options="{fieldInfo: field}" id="{{field.name}}" fw-dynamic ng-required="field.notnull" ng-model="data[field.name]"
      ng-disabled="field.disabled" placeholder="{{field.customOptions.placeholder ? field.customOptions.placeholder : ''}}"
      class="main-input form-control" rows="{{field.customOptions.rows}}"></textarea>
  </div>

  <!-- Ckeditor -->
  <div ng-if="field.type == 'text' && field.customOptions.rich">
    <textarea ckeditor="{'language':'pt-br'}" ng-model-options="{fieldInfo: field}" id="{{field.name}}" fw-dynamic
      ng-required="field.notnull" ng-model="data[field.name]" class="main-input form-control" ng-disabled="field.disabled"></textarea>
  </div>

  <!-- Boolean -->
  <div ng-if="field.type == 'boolean'">
    <label for="{{field.name}}">
      <toggle id="{{field.name}}" ng-model-options="{fieldInfo: field}" ng-model="data[field.name]" name="{{field.name}}"
        on="{{field.customOptions.statusTrueText}}" off="{{field.customOptions.statusFalseText}}" size="btn-sm" ng-if="!field.disabled"></toggle>
      <span ng-if="field.disabled">{{$parent.data[field.name] ? field.customOptions.statusTrueText :
        field.customOptions.statusFalseText}}</span>
    </label>
  </div>

  <!--Autocomplete-->
  <div ng-if="field.autocomplete && !field.customOptions.autocomplete_table">
    <div fw-auto-complete="" class="fw-input-group fw-auto-complete input-group">
      <input id="{{field.name}}" ng-model-options="{fieldInfo: field}" fw-auto-complete typeahead-on-select="autocompleteSelect($item, $model, $label)"
        aria-autocomplete="none" autocomplete="off" typeahead-min-length="0" typeahead="row as row.label for row in autocomplete(field, $viewValue)"
        type="text" class="form-control" name="{{field.name}}" ng-required="field.notnull" ng-model="$parent.data[field.name + '.label']"
        size="{{field.length}}" placeholder="{{field.label}}" ng-disabled="field.disabled" ng-readonly="field.customOptions.select == true"
        ng-class="{'fieldSelect': field.customOptions.select == true}" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-disabled="field.disabled">
          <i class="glyphicon" ng-class="{'glyphicon-search': field.customOptions.select == undefined, 'glyphicon-menu-down': field.customOptions.select == true}"></i>
        </button>
      </span>
    </div>
  </div>

  <!--Autocomplete Table-->
  <div ng-if="field.autocomplete && field.customOptions.autocomplete_table">
    <div fw-auto-complete="" class="fw-input-group fw-auto-complete input-group">
      <input style="display:none" id="{{field.name}}" ng-model-options="{fieldInfo: field}" fw-auto-complete
        typeahead-on-select="autocompleteSelect($item, $model, $label)" aria-autocomplete="none" autocomplete="off"
        typeahead-min-length="0" typeahead="row as row.label for row in autocomplete(field, $viewValue)" type="text"
        class="form-control" name="{{field.name}}" ng-required="field.notnull" ng-model="$parent.data[field.name + '.label']"
        size="{{field.length}}" placeholder="{{field.label}}" ng-disabled="field.disabled" />
    </div>
    <div fw-auto-complete-table="" data-name="{{field.name}}">
      <div class="fw-input-group fw-auto-complete input-group">
        <input type="text" id="input-ac-table" ng-model="$parent.data[field.name + '.label']" ng-model-options="{fieldInfo: field, debounce: 500}"
          class="form-control" autocomplete="off" ng-change="updateAutocompleteTable(field.customOptions.autocomplete_table.table_name,field.customOptions.autocomplete_table.table_columns[0].name, this)"
          ng-focus="autocompleteTableFocus(field.customOptions.autocomplete_table.table_name)" ng-blur="autocompleteTableLostFocus()"
          ng-disabled="field.disabled">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <i class="glyphicon" ng-class="{'glyphicon-search': field.customOptions.select == undefined, 'glyphicon-menu-down': field.customOptions.select == true}"></i>
          </button>
        </span>
      </div>
      <!--Table-->
      <div ng-if="field.customOptions.autocomplete_table != undefined" ng-show="tableVisibily" ng-model-options="{fieldInfo: field}">
        <div class="table-container">
          <table id="myTable" class="table table-striped">
            <thead>
              <tr>
                <th ng-repeat="column in field.customOptions.autocomplete_table.table_columns">
                  {{column.label}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in autocompleteTableData2" id="{{data.id}}" ng-mousedown="tableSelected($event,field.name,data)">
                <!-- <td>{{autocompleteTableData[0]}}</td> -->
                <!--             <td>{{field.customOptions.autocomplete_table.table_name}}</td> -->
                <td ng-repeat="column in field.customOptions.autocomplete_table.table_columns">
                  {{data[column.name]}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Autocomplete Table-->
    </div>
  </div>

</div>